<!DOCTYPE html>
<html>
   <head>
      <meta charset = "UTF-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge,chrome = 1">
      <title>Hello World using Backbone.js</title>
      <link rel="stylesheet" href="css/style.css" type="text/css">
   </head>

<body>

<div id="todoapp">

    <header>
      <h1>Todos</h1>
      <input id="new-todo" type="text" placeholder="What needs to be done?">
    </header>

    <section id="main">
      <div>
        <input id="all" class="filterTodo" type="radio" name="ny" value="all" checked>
        <label for="all">Show All</label>
        <input id="not-yet-finished" class="filterTodo" type="radio" name="ny" value="notyet">
        <label for="not-yet-finished">Not yet Finished</label>
        <input id="all-finished" class="filterTodo" type="radio" name="ny" value="alldone">
        <label for="all-finished">Finished</label>
      </div>
      <div>&nbsp;</div>
      <div id="markall">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
      </div>
      <div>
        <ul id="todo-list"></ul>
      <div>
    </section>

    <footer>
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer>

</div>

<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone.localStorage.js"></script>
<script src = "js/testtodo.js" type = "text/javascript"></script>

<!-- Templates -->

<script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
</script>

<script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>

</body>
</html>
